*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }

    body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('images/pix.jpg') no-repeat center center/cover;
    }
    .head{
    position: absolute;
    
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    }


    main{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid wheat;
    background-color: transparent;
    backdrop-filter: blur(25px);
    position: relative;
    }


    main header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    }

    form{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    }

    input
    {
    padding: 10px;
    border: 2px solid white;
    width: 100%;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    color: white;
    }

    .form_wrapper{
    position: relative;
    display: flex;
    align-items: center;
    }

    label{
    position: absolute;
    left: 10px;
    font-size: 12px;
    color: white;
    transition: .2s;
    }

    i{
    position: absolute;
    right: 30px;
    top: 112px;
    color: rgb(255, 255, 255);
    font-size: 15px !important;
    }
    button{
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    }
    header::before{
    position: absolute;
    content: "";
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    box-shadow: 15px 0 0 0 white;
    border-top-right-radius: 50%;
    }
    header::after{
    position: absolute;
    content: "";
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    box-shadow: -15px 0 0 0 white;
    border-top-left-radius: 50%;
    }